#container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  width: 100%;
}

.square {
  flex: 1 0 100px; 
  height: 100px;
  background-color: blue;
  border: 1px solid white;
  box-sizing: border-box;
  max-width: calc(25% - 5px);
}
